.container {
   display: flex;
   border: 5px solid #fff;
   width: 800px;
}

.container div {
    margin: 0;
    padding: 20px 0;
    width: 100px;
    flex-grow: 1;
}

.container div:nth-child(2), .container div:nth-child(3) {
    flex-grow: 2;
}