.container {
    display: flex;
    border: 5px solid #fff;
    width: 400px;
}

.container div {
    margin: 0;
    padding: 0;
    width: 150px;
    /* flex-basis: 20%;  */
     /* flex-basis sobrepoe width */
    flex: 0 1 20%;  /* flex: shorthand para flex-grow, flex-shrink e flex-basis     */
}

